<template>
  <div class="container">
    <!-- <h1>Add Card</h1> -->
    <div class="add-card-container">
      <div class="card-inputs section">
        <h2>Card Inputs</h2>
        <input v-model="card.frontMessage1" type="text" placeholder="Front" required>
        <input v-model="card.frontMessage2" type="text" placeholder="Opt. Put Kanji here.">
        <input v-model="card.backMessage1" type="text" placeholder="Back" required>
        <input v-model="card.backMessage2" type="text" placeholder="Opt. Some decription">
        <label class="checkbox-container">Private
          <input type="checkbox" value="private" @click="card.isPrivate = !card.isPrivate" disabled>
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="tags section">
        <h2>Tags</h2>
        <label class="checkbox-container">Adjective
          <input type="checkbox" value="Adjective" v-model="card.tags">
          <span class="checkmark"></span>
        </label>

        <label class="checkbox-container">Kanji
          <input type="checkbox" value="Kanji"  v-model="card.tags">
          <span class="checkmark"></span>
        </label>

        <label class="checkbox-container">Noun
          <input type="checkbox" value="Noun" v-model="card.tags">
          <span class="checkmark"></span>
        </label>

        <label class="checkbox-container">Verb
          <input type="checkbox" value="Verb"  v-model="card.tags">
          <span class="checkmark"></span>
        </label>

        <label class="checkbox-container">Adverb
          <input type="checkbox" value="Adverb"  v-model="card.tags">
          <span class="checkmark"></span>
        </label>

        <label class="checkbox-container">Katakana
          <input type="checkbox" value="Katakana"  v-model="card.tags">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="customTags section">
        <h2>Custom Tags</h2>
        <label v-for="(customTag, ind) in customTags" :key="ind" class="checkbox-container">{{customTag}}
          <input type="checkbox" :value="customTag"  v-model="card.tags">
          <span class="checkmark"></span>
        </label>
        <div>
          <input type="text" placeholder="Custom Tag" v-model="customTag">
          <button @click="addTag" class="add-tag-button"><i class="material-icons fsize-16">done</i></button>
        </div>
        <!-- <button @click="update">Update Card</button> -->
        <button @click="addCard" class="add-card-button">Add Card</button>
      </div>
      <div class="preview section">
        <h2>Preview</h2>
        <app-card :card="card" :preview="preview"></app-card>
      </div>
    </div>
  </div>
</template>

<script>
import Card from '../card/Card.vue';

export default {
  components: {
    'app-card': Card
  },
  computed: {
    customTags() {
      return this.card.tags.filter((tag) => {
        return tag !== 'Adjective' && tag !== 'Noun' && tag !== 'Verb' && tag !== 'Kanji' && tag !== 'Adverb' && tag !== 'Katakana';
      });
    }
  },
  data() {
    return {
      card: {
        frontMessage1: '',
        frontMessage2: '',
        backMessage1: '',
        backMessage2: '',
        tags: [],
        front: true,
        isPrivate: false
      },
      customTag: '',
      preview: true
    }
  },
  methods: {
    addCard() {
      const frontMessage = this.getFrontMessage();
      const backMessage = this.getBackMessage();


      // dispatch
      this.$store.dispatch('addCard', {
        frontMessage: frontMessage,
        backMessage: backMessage,
        tags: JSON.stringify(this.card.tags)
      });

      this.clearFields();
    },
    addTag() {
      this.card.tags.push(this.customTag.slice(0, 10));
      this.customTag = '';
    },
    getFrontMessage() {
      if (!this.card.frontMessage2) {
        return this.card.frontMessage1;
      }
      return `${this.card.frontMessage1}|${this.card.frontMessage2}`;
    },
    getBackMessage() {
      if (!this.card.backMessage2) {
        return this.card.backMessage1;
      }
      return `${this.card.backMessage1}|${this.card.backMessage2}`;
    },
    clearFields() {
      this.card.frontMessage1 = '';
      this.card.frontMessage2 = '';
      this.card.backMessage1 = '';
      this.card.backMessage2 = '';
      this.card.tags = [];
      this.customTag = '';
    }
  }
}
</script>

<style scoped>
  .section {
    margin: 0 40px;
  }

  .tags {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }

  .fsize-16 {
    font-weight: 700;
    font-size: 12px;
  }

  .add-tag-button {
    background-color: #eee;
    border: 1px solid #444;
    cursor: pointer;
    padding: 7px 8px 6px 8px;
  }

  .add-tag-button:hover {
    background-color: #ccc;
    transition: background-color 1s;
  }

  .customTags {
    display: flex;
    flex-direction: column;
  }

  .container {
    background: #EEE;
    padding: 40px 20px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  .add-card-container {
    display: flex;
    justify-content: center;
  }

  .card-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
  }

  h2 {
    text-align: center;
  }

  input, select, button {
    padding: 6px;
    margin-bottom: 5px;
  }

  .add-card-button {
    background: #EEE;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }

  .add-card-button:hover {
    transition: background-color 1s;
    background-color: #ccc;
  }


  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
</style>
