<template>
  <div id="container">
    <!-- <h1>Cards</h1> -->
    <app-card v-for="card in filteredCards" v-bind:key="card.id" v-bind:card="card"></app-card>
  </div>
</template>

<script>
import { toRomaji } from 'wanakana';
import Card from '../card/Card.vue';

export default {
  components: {
    'app-card': Card
  },
  computed: {
    cards() {
      return this.$store.state.cards
    },
    searchValues() {
      return this.$store.state.searchValue.split(',');
    },
    filteredCards() {
      return this.cards.filter(
        card => {
          return this.searchValues.every(searchValue => 
            JSON.stringify(card.tags).toLowerCase().includes(searchValue.toLowerCase()) || 
            toRomaji(card.frontMessage1).toLowerCase().includes(searchValue.toLowerCase()) ||
            card.backMessage1.toLowerCase().includes(searchValue.toLowerCase())
          );
        }
      )
    }
  }
}
</script>

<style scoped>
  div#container {
    background: #eee;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    justify-items: center;
    padding: 30px 0;
    min-height: 70vh;
  }

  h1 {
    text-align: center;
  }
</style>

