<template>
  <div class="container">
    <div class="radio-buttons">
      <h3>Difficulty</h3>
      <label class="container-radio">Easy
        <span class="description">(Romaji)</span>
        <input type="radio" value="easy" name="radio" v-model="$store.state.options.difficulty">
        <span class="checkmark"></span>
      </label>
      <label class="container-radio">Medium
        <span class="description">(Romaji + Kanji)</span>
        <input type="radio" value="medium" name="radio" v-model="$store.state.options.difficulty">
        <span class="checkmark"></span>
      </label>
      <label class="container-radio">Hard
        <span class="description">(Hiragana)</span>
        <input type="radio" value="hard" name="radio" v-model="$store.state.options.difficulty">
        <span class="checkmark"></span>
      </label>
      <label class="container-radio">Ultra
        <span class="description">(Hiragana + Kanji)</span>
        <input type="radio" value="ultra" name="radio" v-model="$store.state.options.difficulty">
        <span class="checkmark"></span>
      </label>
      <label class="container-radio">Supreme
        <span class="description">(Kanji)</span>
        <input type="radio" value="supreme" name="radio" v-model="$store.state.options.difficulty">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
      }
    },
    beforeDestroy() {
      // Save difficulty preference in local storage using the local storage API
      localStorage.setItem('difficulty', this.$store.state.options.difficulty);
    }
  }
</script>

<style scoped>
  .container {
    align-items: center;
    background: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    min-height: 70vh;
  }

  h3 {
    font-size: 24px;
    padding-bottom: none;
  }

  .description {
    color: #777;
  }

/* Customize the label (the container) */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ddd;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

</style>


