<template>
    <div>
        <h1>Work In Progress</h1>
    </div>
</template>

<script>
export default {
    data() {
        return {

        }
    }
}
</script>

<style scoped>
    div {
        align-items: center;
        background: #EEE;
        display: flex;
        justify-content: center;
        min-height: 70vh;
    }
</style>
