<template>
  <div class="card-container">
    <div class="card-options">
      <button class="speakButton" @click="speak"><i class="material-icons">volume_up</i></button>
      <router-link class="editCard" :to="`/edit/${card.id}`"><i class="material-icons">settings</i></router-link>
    </div>
    <div @click="card.front=!card.front" class="card">
      <div v-if="card.front">
        <div class="front" v-if="showHiragana && !card.tags.includes('Katakana')">
          {{ card.frontMessage1 | to-hiragana }}
        </div>
        <div class="front" v-if="showKatakana">
          {{ card.frontMessage1 | to-katakana }}
        </div>
        <div class="front" v-if="showRomaji">
          {{ card.frontMessage1 | to-romaji }}
        </div>
        <div v-if="showKanji" class="front-2">
          {{ card.frontMessage2 }}
        </div>
      </div>
      <div  v-if="!card.front">
        <div class="back">
          {{ card.backMessage1 }}
        </div>
        <div v-if="card.backMessage2 !== null" class="back-2">
          {{ card.backMessage2 }}
        </div>
      </div>
    </div>
    <app-tags :tags="card.tags"></app-tags>
  </div>
</template>

<script>
import { toHiragana, toKatakana, toRomaji } from 'wanakana';
import Speech from 'speak-tts';

import Tags from './Tags.vue';

export default {
  components: {
    'app-tags': Tags
  },
  props: [
    'card',
    'preview'
  ],
  mounted() {
   Speech.init()

   Speech.setLanguage('ja-JP')
   Speech.setVoice('Google 日本語')
  },
  computed: {
    difficulty() {
      return this.$store.state.options.difficulty;
    },
    showRomaji() {
      return this.difficulty === 'easy' || this.difficulty === 'medium';
    },
    showHiragana() {
      return this.difficulty === 'hard' || this.difficulty === 'ultra' || (!this.card.frontMessage2 && this.difficulty === 'supreme');
    },
    showKatakana() {
      return this.showHiragana && this.card.tags.includes('Katakana');
    },
    showKanji() {
      return this.card.frontMessage2 && (this.difficulty === 'medium' || this.difficulty === 'ultra' || this.difficulty === 'supreme')
    }
  },
  methods: {
    speak() {
      console.log('Should be speaking');
      Speech.speak({
        text: toHiragana(this.card.frontMessage1),
        onError: (e) => {console.log('sorry an error occurred.', e)},
        onEnd: () => {console.log('your text has successfully been spoken.')}
      })
    }
  },
  filters: {
    'to-hiragana': function(value) {
      return toHiragana(value);
    },
    'to-katakana': function(value) {
      return toKatakana(value);
    },
    'to-romaji': function(value) {
      return toRomaji(value);
    }
  }
}
</script>

<style scoped>
  .card-container {
    border: 1px solid #444;
    box-shadow: 2px 2px 10px #888;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    width: 180px;
  }


  .card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
  }
  .front-2 {
    font-size: 24px;
  }
  .front, .front-2 {
    text-align: center;
  }
  .back, .back-2 {
    text-align: center;
  }
  a.editCard {
    align-self: flex-end;
    border: none;
    border-radius: none;
    border-top-right-radius: 10px;
    color: #000;
    padding-bottom: 2px;
    outline: none;
  }

  a.editCard:visited {
    color: #000;
  }

  a.editCard:hover {
    background: #ccc;
    transition: background-color 1s;
  }

  .card-options {
    display: flex;
    justify-content: flex-end;
  }

  .card-options button.speakButton {
    background-color: #eee;
    border: none;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 0 6px;
  }

  .card-options .editCard {
    padding: 6px;
  }
  .card-options button.speakButton:hover {
    background-color: #ccc;
    transition: background-color 1s;
  }

</style>


