<template>
  <div class="tags">
    <button v-for="(tag, ind) in reducedTags" v-bind:key="ind" @click="search(tag)">{{ tag }}</button>
    <button class="switchButton" v-if="tags.length > 2" @click="switchTags">...</button>
  </div>
</template>

<script>
export default {
  props: [
    'tags'
  ],
  computed: {
    reducedTags() {
      if (this.tags.length > 2) {
        return this.tags.sort().slice(this.start, this.end);
      }
      return this.tags.sort();
    }
  },
  data() {
    return {
      start: 0,
      end: 2
    }
  },
  methods: {
    search(tag) {
      this.$store.dispatch('setSearchValue', tag);
    },
    switchTags() {
      this.start += 2;
      this.end += 2;
      if (this.start >= this.tags.length) {
        this.start = 0;
        this.end = 2;
      }
    }
  }
}
</script>


<style scoped>


  .tags > :first-child {
    border: none;
    border-right: 1px solid #444; 
    border-top: 1px solid #444; 
    border-bottom-left-radius: 10px;
  }

  .tags > :last-child {
    border-top-right-radius: 10px;
  }

  .tags button {
    background-color: #eee;
    border: none;
    border-right: 1px solid #444; 
    border-top: 1px solid #444; 
    outline: none;
  }

  .tags button:hover {
    background-color: #ccc;
    transition: background-color 1s;
  }

  .switchButton {
    margin: 0;
  }

  button, a {
    padding: 5px;
  }

  .tags {
    display: flex;
    justify-content: flex-start;
  }

</style>
