<template>
  <footer>
    <p>Copyright &copy; 2018</p>
    <p>Created by mterz.</p>
  </footer>
</template>

<script>
export default {
  data() {
    return {
        
    }
  }
}
</script>

<style scoped>
  footer {
    background: #DDD;
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    max-width: 100%;
  }

  footer p {
    color: #000;
    font-size: 16px;
    padding: 20px 40px;
  }
</style>

