<template>
  <header>
    <h1><router-link to="/" exact>フラッシュ</router-link></h1>
    <app-navigation></app-navigation>
  </header>
</template>

<script>
import Navigation from './Navigation.vue';

export default {
components: {
  'app-navigation': Navigation
},
data() {
    return {
    }
  }
}
</script>

<style scoped>
  header {
    background: #DDD;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: 140px;
    padding: 20px;
  }

  header h1 {
    display: inline-block;
    text-align: center;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
</style>