<template>
  <nav>
    <ul>
      <li> <input class="search" v-model="$store.state.searchValue" type="text" placeholder="Search tag or word"> </li>
      <li> <router-link to="/" exact>Cards</router-link>  </li>
      <li> <router-link to="/addCard">Add Card</router-link></li>
      <li> <router-link to="/test">Test</router-link> </li>
      <li> <router-link to="/options" exact>Options</router-link> </li>
    </ul>
  </nav>
</template>

<script>
export default {
  computed: {
    getSearchValue() {
      // return this.$store.state.searchValue;
    }
  },
  data() {
    return {
      // searchValue: ''
    }
  }
}
</script>

<style scoped>
  .arrowDown {
    background-color: #FFF;
    border: none;
    height: 40px;
    margin: 0;
    width: 20px;
  }


  nav {
    align-self: flex-end;
  }

  nav ul {
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    height: 80px;
    list-style-type: none;
    width: 600px;
  }

  nav, a, ul, input {
    margin: 0;
    padding: 0;
  } 

  nav ul li a {
    background: #EEE;
    border-bottom: 1px solid #444;
    display: inline-block;
    color: #444;
    font-size: 16px;
    height: 40px;
    padding: 12px 10px;
    text-decoration: none;
  }

  nav ul li a:hover {
    transition: background-color 1s;
    background: #CCC;
  }

  .search {
    border: none;
    border-bottom: 1px solid #444;
    height: 40px;
    padding: 12px 10px;
  }

  .search:focus {
     outline: none;
  }

  li a.router-link-active {
    background: #CCC;
    border-bottom: none;
    border-top: 1px solid #444;
  }
</style>

