<template>
  <div id="application">
    <app-header></app-header>
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from './components/Header';
import Footer from './components/Footer';


export default {
  components: {
    'app-header': Header,
    'app-footer': Footer
  },
  created: function() {
    // Load the cards and set the difficulty
    this.$store.dispatch('setCards');
  }
}

</script>

<style>

  /*

    Some global CSS styles. Probably will change all the CSS with MaterializeCSS, because designing is hard. :(

  */

  * {
    box-sizing: border-box;
  }

  #application {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    flex-direction: column;
    /* min-height: 680px; */
    min-height: 100%;
    margin: 20px 40px;
  }

  ::-webkit-scrollbar { 
    display: none; 
  }
</style>
